---
title: A page for you
layout: base.njk
---

<div class="container">
  <h1>This page is for you</h1>
  <div class="vibe">You are great!</div>
  <div class="love">❤️</div>
</div>
<ul>
    {% for article in news.articles %}
    <li>
        <h3><a href="{{article.url}}">{{article.title}}</a></h3>
        <span><time>{{article.publishedAt}}</time></span>
    </li>
    {% endfor %}
</ul>
<script src="./js/vibe.js"></script>
